<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ATZ.DependencyInjection" version="1.2.2.14255" targetFramework="net452" />
  <package id="ATZ.DependencyInjection.System" version="1.2.2.14256" targetFramework="net452" />
  <package id="ATZ.MVVM" version="3.2.0.17893" targetFramework="net452" />
  <package id="ATZ.Reflection" version="1.2.0.14240" targetFramework="net452" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="Moq" version="4.5.28" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="NUnit" version="3.5.0" targetFramework="net452" />
</packages>